In [36]:
import pandas as pd

df = pd.read_excel('../data/dataset_ready_for_pre_proc.xlsx')

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14824 entries, 0 to 14823
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   location_name      14824 non-null  object
 1   location_region    14824 non-null  object
 2   res_date           14824 non-null  object
 3   res_type           14824 non-null  object
 4   res_address        14824 non-null  object
 5   res_price          14824 non-null  int64
 6   res_price_sqr      14824 non-null  int64
 7   res_sqr            14824 non-null  int64
 8   construction_year  14824 non-null  int64
 9   levels             14824 non-null  int64
 10  bedrooms           14824 non-null  int64
 11  bathrooms          14824 non-null  int64
 12  status             14824 non-null  object
 13  energyclass        14824 non-null  object
 14  auto_heating       14824 non-null  int64
 15  solar              14824 non-null  int64
 16  cooling            14824 non-null  int64
 17  safe_door          14824 non-null  int64
 18  gas                14824 non-null  int64
 19  fireplace          14824 non-null  int64
 20  furniture          14824 non-null  int64
 21  student            14824 non-null  int64
 22  parking            14824 non-null  object
 23  rent_price         14824 non-null  int64
dtypes: int64(16), object(8)
memory usage: 2.7+ MB

In [38]:
X = df.drop(columns=["res_price","rent_price","res_price_sqr"], axis=1)
y = df[["res_price", "rent_price"]]

In [39]:
X["levels"].describe()

count    14824.000000
mean         1.812466
std          1.894980
min          0.000000
25%          0.000000
50%          1.000000
75%          3.000000
max          8.000000
Name: levels, dtype: float64

In [40]:
from sklearn.model_selection import train_test_split

X_temp, X_test, y_temp, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train, X_val, y_train, y_val = train_test_split(X_temp, y_temp, test_size=0.125, random_state=42)

In [41]:
y_train_rent=y_train["rent_price"]
y_train_sale=y_train["res_price"]

y_val_rent=y_val["rent_price"]
y_val_sale=y_val["res_price"]

y_test_rent=y_test["rent_price"]
y_test_sale=y_test["res_price"]

# i start data engineering here

In [42]:
numerical_features=X.select_dtypes(include=['float64', 'int64']).columns.tolist()
numerical_features

['res_sqr',
 'construction_year',
 'levels',
 'bedrooms',
 'bathrooms',
 'auto_heating',
 'solar',
 'cooling',
 'safe_door',
 'gas',
 'fireplace',
 'furniture',
 'student']

In [43]:
X_train.head(1)

,location_name,location_region,res_date,res_type,res_address,res_sqr,construction_year,levels,bedrooms,bathrooms,...,energyclass,auto_heating,solar,cooling,safe_door,gas,fireplace,furniture,student,parking
3856,Βάρη - Βούλα - Βουλιαγμένη,Αττική,2022-03-22,Μονοκατοικία,"Βάρη,Λαθούριζα",500,2010,0,6,5,...,Β+,0,0,1,1,0,0,0,0,False

In [ ]:
actual_numerical=['res_sqr',
 'construction_year',
 'levels',
 'bedrooms',
 'bathrooms']