In [11]:
import pandas as pd

df = pd.read_excel('../data/dataset_ready_for_pre_proc.xlsx')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15136 entries, 0 to 15135
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   location_name      15136 non-null  object
 1   location_region    15136 non-null  object
 2   res_date           15136 non-null  object
 3   res_type           15136 non-null  object
 4   res_address        15136 non-null  object
 5   res_price          15136 non-null  int64
 6   res_price_sqr      15136 non-null  int64
 7   res_sqr            15136 non-null  int64
 8   construction_year  15136 non-null  int64
 9   levels             15136 non-null  object
 10  bedrooms           15136 non-null  int64
 11  bathrooms          15136 non-null  int64
 12  status             15136 non-null  object
 13  energyclass        15136 non-null  object
 14  auto_heating       15136 non-null  int64
 15  solar              15136 non-null  int64
 16  cooling            15136 non-null  int64
 17  safe_door          15136 non-null  int64
 18  gas                15136 non-null  int64
 19  fireplace          15136 non-null  int64
 20  furniture          15136 non-null  int64
 21  student            15136 non-null  int64
 22  parking            15136 non-null  object
 23  rent_price         15136 non-null  int64
dtypes: int64(15), object(9)
memory usage: 2.8+ MB

In [14]:
X = df.drop(columns=["res_price","rent_price","res_price_sqr"], axis=1)
y = df[["res_price", "rent_price"]]

In [15]:
from sklearn.model_selection import train_test_split

X_temp, X_test, y_temp, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train, X_val, y_train, y_val = train_test_split(X_temp, y_temp, test_size=0.125, random_state=42)

In [16]:
y_train_rent=y_train["rent_price"]
y_train_sale=y_train["res_price"]

y_val_rent=y_val["rent_price"]
y_val_sale=y_val["res_price"]

y_train_rent=y_val["rent_price"]
y_train_sale=y_val["res_price"]