In [1]:
import pandas as pd

df = pd.read_excel('../data/dataset_ready_for_pre_proc.xlsx')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14820 entries, 0 to 14819
Data columns (total 94 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   res_date                                    14820 non-null  int64
 1   res_price                                   14820 non-null  int64
 2   res_price_sqr                               14820 non-null  int64
 3   res_sqr                                     14820 non-null  int64
 4   construction_year                           14820 non-null  int64
 5   levels                                      14820 non-null  int64
 6   bedrooms                                    14820 non-null  int64
 7   bathrooms                                   14820 non-null  int64
 8   status                                      14820 non-null  int64
 9   energyclass                                 14820 non-null  int64
 10  auto_heating                                14820 non-null  int64
 11  solar                                       14820 non-null  int64
 12  cooling                                     14820 non-null  int64
 13  safe_door                                   14820 non-null  int64
 14  gas                                         14820 non-null  int64
 15  fireplace                                   14820 non-null  int64
 16  furniture                                   14820 non-null  int64
 17  student                                     14820 non-null  int64
 18  parking                                     14820 non-null  int64
 19  rent_price                                  14820 non-null  int64
 20  res_type_Μεζονέτα                           14820 non-null  int64
 21  res_type_Μονοκατοικία                       14820 non-null  int64
 22  res_type_Οικία                              14820 non-null  int64
 23  location_name_Άγιος Δημήτριος               14820 non-null  int64
 24  location_name_Άγιος Παύλος                  14820 non-null  int64
 25  location_name_Άλιμος                        14820 non-null  int64
 26  location_name_Ίλιον                         14820 non-null  int64
 27  location_name_Αίγινα                        14820 non-null  int64
 28  location_name_Αγία Παρασκευή                14820 non-null  int64
 29  location_name_Αγιά Βαρβάρα                  14820 non-null  int64
 30  location_name_Αθήνα                         14820 non-null  int64
 31  location_name_Αιγάλεω                       14820 non-null  int64
 32  location_name_Αργυρούπολη                   14820 non-null  int64
 33  location_name_Ασπρόπυργος                   14820 non-null  int64
 34  location_name_Αχαρνές                       14820 non-null  int64
 35  location_name_Βάρη - Βούλα - Βουλιαγμένη    14820 non-null  int64
 36  location_name_Βασιλικα                      14820 non-null  int64
 37  location_name_Βριλήσσια                     14820 non-null  int64
 38  location_name_Βύρωνας                       14820 non-null  int64
 39  location_name_Γαλάτσι                       14820 non-null  int64
 40  location_name_Γλυφάδα                       14820 non-null  int64
 41  location_name_Δάφνη                         14820 non-null  int64
 42  location_name_Δάφνη-Υμηττός                 14820 non-null  int64
 43  location_name_Δήμος Εχεδώρου                14820 non-null  int64
 44  location_name_Δήμος Θερμαϊκού               14820 non-null  int64
 45  location_name_Δήμος Καλλινδοίων             14820 non-null  int64
 46  location_name_Δήμος Κορώνειας Θεσσαλονίκης  14820 non-null  int64
 47  location_name_Διόνυσος                      14820 non-null  int64
 48  location_name_Ελευσίνα                      14820 non-null  int64
 49  location_name_Ελληνικό - Αργυρούπολη        14820 non-null  int64
 50  location_name_Επανομή                       14820 non-null  int64
 51  location_name_Ευκαρπία                      14820 non-null  int64
 52  location_name_Ζωγράφου                      14820 non-null  int64
 53  location_name_Ηλιούπολη                     14820 non-null  int64
 54  location_name_Θέρμη                         14820 non-null  int64
 55  location_name_Θεσσαλονίκη                   14820 non-null  int64
 56  location_name_Καισαριανή                    14820 non-null  int64
 57  location_name_Καλαμαριά                     14820 non-null  int64
 58  location_name_Καλλιθέα                      14820 non-null  int64
 59  location_name_Κερατσίνι-Δραπετσώνα          14820 non-null  int64
 60  location_name_Κηφισιά                       14820 non-null  int64
 61  location_name_Κορυδαλλός                    14820 non-null  int64
 62  location_name_Κρωπία                        14820 non-null  int64
 63  location_name_Λαγκάδας                      14820 non-null  int64
 64  location_name_Λαυρεωτική                    14820 non-null  int64
 65  location_name_Λυκόβρυση Πεύκη               14820 non-null  int64
 66  location_name_Μάνδρα - Ειδυλλία             14820 non-null  int64
 67  location_name_Μέγαρα                        14820 non-null  int64
 68  location_name_Μαρούσι                       14820 non-null  int64
 69  location_name_Μηχανιώνα                     14820 non-null  int64
 70  location_name_Μοσχάτο - Ταύρος              14820 non-null  int64
 71  location_name_Μυγδονία                      14820 non-null  int64
 72  location_name_Νέα Ιωνία                     14820 non-null  int64
 73  location_name_Νέα Σμύρνη                    14820 non-null  int64
 74  location_name_Νίκαια                        14820 non-null  int64
 75  location_name_Νεάπολη                       14820 non-null  int64
 76  location_name_Πέραμα                        14820 non-null  int64
 77  location_name_Παγκράτι                      14820 non-null  int64
 78  location_name_Παιανία                       14820 non-null  int64
 79  location_name_Παλαιό Φάληρο                 14820 non-null  int64
 80  location_name_Παλλήνη                       14820 non-null  int64
 81  location_name_Παπάγου                       14820 non-null  int64
 82  location_name_Πειραιάς                      14820 non-null  int64
 83  location_name_Πεντέλη                       14820 non-null  int64
 84  location_name_Περιστέρι                     14820 non-null  int64
 85  location_name_Πετρούπολη                    14820 non-null  int64
 86  location_name_Ραφήνα Πικέρμι                14820 non-null  int64
 87  location_name_Σαλαμίνα                      14820 non-null  int64
 88  location_name_Σπάτα                         14820 non-null  int64
 89  location_name_Φιλοθέη - Ψυχικό              14820 non-null  int64
 90  location_name_Φυλή                          14820 non-null  int64
 91  location_name_Χαλάνδρι                      14820 non-null  int64
 92  location_name_Χαϊδάρι                       14820 non-null  int64
 93  location_name_Χολαργός                      14820 non-null  int64
dtypes: int64(94)
memory usage: 10.6 MB

In [3]:
X = df.drop(columns=["res_price","rent_price","res_price_sqr"], axis=1)
y = df[["res_price", "rent_price"]]

In [4]:
X["levels"].describe()

count    14820.000000
mean         1.812213
std          1.894661
min          0.000000
25%          0.000000
50%          1.000000
75%          3.000000
max          8.000000
Name: levels, dtype: float64

In [5]:
from sklearn.model_selection import train_test_split

X_temp, X_test, y_temp, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train, X_val, y_train, y_val = train_test_split(X_temp, y_temp, test_size=0.125, random_state=42)

In [6]:
y_train_rent=y_train["rent_price"]
y_train_sale=y_train["res_price"]

y_val_rent=y_val["rent_price"]
y_val_sale=y_val["res_price"]

y_test_rent=y_test["rent_price"]
y_test_sale=y_test["res_price"]

# i start data engineering here

## Κάνω κανονικοποίηση

In [7]:
numerical_features=X.select_dtypes(include=['float64', 'int64']).columns.tolist()

In [8]:
X_train.head(1)

,res_date,res_sqr,construction_year,levels,bedrooms,bathrooms,status,energyclass,auto_heating,solar,...,location_name_Περιστέρι,location_name_Πετρούπολη,location_name_Ραφήνα Πικέρμι,location_name_Σαλαμίνα,location_name_Σπάτα,location_name_Φιλοθέη - Ψυχικό,location_name_Φυλή,location_name_Χαλάνδρι,location_name_Χαϊδάρι,location_name_Χολαργός
6014,2022,52,1967,4,1,1,6,10,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
actual_numerical=['res_sqr',
 'construction_year',
 'res_date',
 'levels',
 'bedrooms',
 'bathrooms']

In [10]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

X_train_scaled = X_train.copy()
X_val_scaled = X_val.copy()
X_test_scaled = X_test.copy()


X_train_scaled[actual_numerical]=scaler.fit_transform(X_train[actual_numerical])
X_val_scaled[actual_numerical]=scaler.transform(X_val[actual_numerical])
X_test_scaled[actual_numerical]=scaler.transform(X_test[actual_numerical])

In [11]:
X_train_scaled.to_excel('../data/x_train_data.xlsx', index=False)
X_val_scaled.to_excel('../data/x_val_data.xlsx', index=False)
X_test_scaled.to_excel('../data/x_test_data.xlsx', index=False)

y_test_rent.to_excel('../data/y_test_rent.xlsx',index=False)
y_train_rent.to_excel('../data/y_train_rent.xlsx',index=False)
y_val_rent.to_excel('../data/y_val_rent.xlsx',index=False)

y_test_sale.to_excel('../data/y_test_sale.xlsx',index=False)
y_train_sale.to_excel('../data/y_train_sale.xlsx',index=False)
y_val_sale.to_excel('../data/y_val_sale.xlsx',index=False)